body {
  width: 500px;
  height: auto;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    18deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.top-div {
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}
.top-div > button {
  margin-left: 10px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: antiquewhite;
  display: flex;
  width: 50px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 3px;
}

.top-div > h2 {
  margin-left: 6px;
}

.bottom-div {
  border-style: solid;
  border-color: antiquewhite;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    18deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 8px;
}

.quotes{
  font-size: 14px;

}

.author{
  font-weight: lighter;
}
